{% extends 'base.html' %}

{% block content %}
    {% for message in get_flashed_messages() %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    {% endfor %}
    <h1>Hello World!</h1>

    <p>This is my first webpage!!!</p>

    <p>My name is {{ first_name }}</p>

    <p>{{stuff| title}}</p>

    <h3>Items:</h3>

    {% for item in items %}

        {% if item == 3 %}
            {{ item|string * 3 }}<br/>
        {% else %}
            {{ item }}<br/>
        {% endif %}


    {% endfor %}

    <br/><br/>
    {{ items.3|reverse }}


{% endblock %}