{% extends 'base.html' %}

{% block content %}
    {% for category,  message in get_flashed_messages(with_categories=true) %}

    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    {% endfor %}
    <h1>We Need to Talk</h1>

    <p>Welcome to We Need to Talk, where we discuss any issue that we think need to be talked about. Write your post here, publish, and let the world know how important the issue is.
    But hold on, because we have some guidelines that you need to follow.</p><br/>
    <p>1. You must start your blog title with 'We need to talk about... '. <a href="https://weneedtotalktest.vercel.app/posts/1">Here</a>'s the starter template for you.</p>


{% endblock %}